<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p>signup</p>
    <div class="signup-inputs">
        <div>
            <label for="signup-lastname">Nom : </label><br>
            <label for="signup-firstname">Prénom : </label><br>
            <label for="signup-email">E-mail : </label><br>
            <label for="signup-password">Mot de passe :</label>
        </div>
        <div>
            <input type="text" formControlName="signupLastName" id="signup-lastname"><br>
            <input type="text" formControlName="signupFirstName" id="signup-firstname"><br>
            <input type="text" formControlName="signupEmail" id="signup-email"><br>
            <input type="text" formControlName="signupPassword" id="signup-password">
        </div>
    </div>
    
    <button type="submit" [disabled]="!signupForm.valid">submit</button>
</form>

