:host {
    display: flex;
    flex-direction: column;
    background-color: #091f43;
    padding: 10px;
}

p, a {
    color: #ffd7d7;
    margin: 20px;
    text-decoration: none;
}

.header-main-block {
    display: flex;
    justify-content: space-between;
}

.header-branding {
    display:flex;
    align-items: center;
}

.header__logo {
    height: 200px;
}

h1 {
    color: #ffd7d7;
    height: fit-content;
    align-self: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@media screen and (max-width: 992px) {
    .header-branding {
        //display:block;
        height: fit-content;
        & img {
            height: 150px;
        }
    }
    h1 {
        font-size: 46px;
    }
}
@media screen and (max-width: 768px) {
    .header-branding img {
        height: 100px;
    }
    h1 {
        font-size: 34px;
        margin: 0;
    }
}
@media screen and (max-width: 535px) {
    .header-branding img {
        height: 50px;
    }
    h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 375px) {
    .header-branding img {
        height: 40px;
    }
    h1 {
        font-size: 18px;
    }
}

.header-log {
    display: flex;
    & .header-avatar-container {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        & a {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }
    & .header-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
    }
    &__usermenu {
        display: inline-block;
    }
}
@media screen and (max-width: 768px) {
    .header-log {
        & a {
            margin: 0 5px;
        }
        & .header-avatar-container {
            width: 36px;
            height: 36px;
            border-radius: 18px;
        }
        & .login-links a {
            margin: 0 20px;
        }
        
    }
    
}
@media screen and (max-width: 535px) {
    .header-log {
        & a {
            font-size: 12px;
            & .header-avatar-container {
                width: 28px;
                height: 28px;
                border-radius: 14px;
            }
            & .header-log__username {
                display: none;
            }
        }
        & .login-links {
            & a {
                display:block;
            }
        }
    }
    
    .logout-button img {
        height: 12px;
    }
}


nav {
    display: flex;
    width: 100%;
    justify-content:flex-end;
    & a {
        font-family: 'Montserrat', sans-serif;
        
    }
}
@media screen and (max-width: 768px) {
    nav {
        justify-content: space-evenly;
        & a {
            margin: 20px 5px;
            font-size: 12px;
        }
    }
}

