h2 {
    text-align: center;
}

h3 {
    margin-left: 10px;
}

.dashboard-section {
    border-bottom: 2px solid #bbbbbb;
    &__heading {
        font-weight: bold;
    }
    &__no-content {
        margin-left: 20px;
    }
}