<h2>Votre profil</h2>
    

<form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <fieldset class="name-fieldset">
        <div class="profile-update__labels">
            <label for="posted-lastname">Nom</label><br/>
            <label for="posted-firstName">Prénom</label>
        </div>
        <div class="profile-update__inputs">
            <input type="Text" id="posted-lastName" formControlName="postedLastName" value="{{this.user.userLastName}}"/><br/>
            <input type="Text" id="posted-firstName" formControlName="postedFirstName" value="{{this.user.userFirstName}}"/>
        </div>
    </fieldset>
    <fieldset class="avatar-fieldset">
        <label for="postedAvatar">Avatar</label><br/>
        <div class="avatar-viewer">
            <img class="avatar-image" src="http://localhost:3000/images/avatars/{{this.user.userAvatar}}">
        </div>
        
        <input 
            type="file"
            id="avatarInput"
            enctype="multipart/form-data"
            formControlName="avatarInput"
            (change)="avatarHandler($event)"
            
        />
    </fieldset>
    <fieldset class="bio-fieldset">
        <h3>À propos de vous :</h3>
        <textarea class="bio-input" formControlName="bioInput">
            
        </textarea>
    </fieldset>
    
    <!--
        <button type="submit" [disabled]="!updateProfileForm.valid">submit</button>
    -->
    <div class="profile-editor__submit" (click)="onSubmit()" >
        <div>
            <img src="../../assets/images/boutons/send.png" alt="confirmer l'édition" title="confirmer l'édition" />
        </div>
        <div>
            <span>envoyer</span>
        </div>
    </div>
    
    <div class="profile-updater__post-list">
        <app-single-post *ngFor="let post of this.user.userPosts" [post]="post" [userId]="this.user.userId" [user]="this.user"></app-single-post>

        
        
    </div>
    
</form>
