h2 {
    text-align: center;
}

.name-fieldset {
    display: flex;
    border: none;
    width:fit-content;
    margin:auto;
}

.avatar-fieldset {
    border:none;
    width: fit-content;
    margin:auto;
    text-align: center;
    & label {
        font-weight: bold;
        font-size: 1.17em;
    }
    & .avatar-viewer {
        width: 400px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.profile-update__labels {
    padding: 0 20px;
    line-height: 1.6em;
}

.profile-update__inputs {
    & input {
        margin-bottom: 6px;
        margin-left: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}

.bio-fieldset {
    border: none;
    text-align: center;
    & .bio-input {
        width: 80%;
        resize: none;
        padding: 10px;
        border-radius: 10px;
        
    }
}

.profile-editor__submit {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

