<p *ngIf="this.loading">Veuillez patienter</p>

<h2 *ngIf="!this.loading">Les membres</h2>
<div *ngIf="!this.loading">
    <h3>Administrateurs :</h3>
    <div class="item-list">
        <app-user-list-item *ngFor="let user of this.adminList" [user]="user"></app-user-list-item>
    </div>
    
    <h3>modérateurs :</h3>
    <div class="item-list">
        <app-user-list-item *ngFor="let user of this.modoList" [user]="user"></app-user-list-item>
    </div>
    
    <h3>utilisateurs :</h3>
    <div class="item-list">
        <app-user-list-item *ngFor="let user of this.userList" [user]="user"></app-user-list-item>
    </div>
</div>
