.post-container {
    border: 1px solid #444444;
    border-radius: 6px;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    & a {
        text-decoration: none;
        color: black;
        &:hover, &:visited {
            color: black;
        }
    }
}

.moderated-post {
    //background-color: #f0b5b5;
    box-shadow: inset 0px 0px 15px #fd6969;
}

.normal-post {
    box-shadow: inset 0px 0px 15px #5a90e7;
}

.post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div {
        display: flex;
        align-items: center;
    }
    & .post-edit-icons {
        cursor: pointer;
        & img {
            margin: 0 10px;
            opacity: 0.6;
            transition: opacity 300ms;
            &:hover{
                opacity: 1
            }
        }
    }
    & .post-edit-icons {
        display: flex;
    }
}


.post-label {
    margin: 0.2em 0;
    margin-left: 10px;
    display:flex;
    align-items: center;
    &__avatar-container {
        width:30px;
        height:30px;
        border-radius: 15px;
        overflow: hidden;
        margin-right: 10px;
        & img {
            border:none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}
@media screen and (max-width: 535px) {
    .post-label {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .post-edit-icons {
        //display: flex;
        flex-direction: column;
    }
    
}

.post-text-content {
    margin: 0;
    border-top: 1px solid #999999;
    padding: 1rem;
    white-space: pre-wrap;
}

.post-image {
    max-width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}

.comment-creation-box {
    border-top: 1px solid grey;
    padding: 10px;
}

.reaction-panel {
    border-top: 1px solid grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 1rem;
    & .reaction-box {
        padding: 1rem;
        flex: 1;
        &__buttons {
            width:fit-content;
            display: flex;
            & div {
                text-align: center;
            }
            & img {
                border: 1px solid #edf3fc;
                transition: all 300ms;
            }
            & .cliquable {
                cursor: pointer;
                &:hover{
                    border: 1px solid grey;
                    border-radius: 4px;
                }
            }
        }
    }
    & .create-comment-button {
        display: flex;
        width: fit-content;
        height: fit-content;
        flex: 0 1;
        align-self: flex-start;
        margin-top: 15px;
        cursor: pointer;
        border: 1px solid grey;
        border-radius: 5px;
        width: fit-content;
        padding: 4px;
        background-color: #356cc4;
        color: #f0b5b5;
        transition: all 400ms;
        &:hover {
            background-color: #5a90e7;
            box-shadow: 4px 4px 10px #5a90e7;
        }
        & img {
            margin-right: 6px;
        }
    }
    & .report-box {
        padding: 1rem;
        flex: 1;
        & span {
            margin-left: 1rem;
        }
        & .report-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            width: fit-content;
            margin: 4px 1rem;
            padding: 2px 4px;
            background-color: #fcdddd;
            opacity: 0.4;
            transition: all 400ms;
            &:hover {
                background-color: #fab3b3;
                box-shadow: 4px 4px 10px #fab3b3;
                opacity: 1;
            }
            & img {
                margin-right: 4px;
            }
        }
        & .unreport-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            width: fit-content;
            margin: 4px 1rem;
            padding-right: 6px;
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
            & img {
                margin-right: 10px;
            }
        }
    }
}
@media screen and (max-width: 535px) {
    .reaction-panel {
        flex-direction: column;
        & .report-box {
            border-top: 1px solid #dddddd;
            padding-top: 10px;
        }
        & .report-box span {
            margin-left: 0;
        }
    }
}

.moderation-box {
    & .moderation-infos {
        border-top: 1px solid #bbbbbb;
        padding: 1rem;
        background-color: #fad8d8;
        box-shadow: inset 0px 0px 15px #fd6969;
        & span {
            font-weight: bold;
        }
        & .moderation-reason {
            padding: 0 10px;
        }
    }
    & .submit-correction {
        text-align: center;
        &-button {
            cursor: pointer;
            margin:auto;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            width: fit-content;
            margin: 4px auto;
            padding: 2px 4px;
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
            & img {
                margin-right: 4px;
            }
        }
        &-abort-button {
            cursor: pointer;
            margin:auto;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            width: fit-content;
            margin: 4px auto;
            padding-right: 4px;
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
            & img {
                margin-right: 4px;
            }
        }
    }
    & .moderation-toolbar {
        border-top: 1px solid #bbbbbb;
        text-align: center;
        & .moderation-reason-input {
            resize: none;
            width: calc(100% - 6px);
        }
        & .moderation-form-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 16px;
        }
        & .cancel-moderation, & .submit-moderation, & .submit-unmoderation, & .moderation-button {
            margin: 0 10px;
            cursor: pointer;
        }
        & .moderation-button {
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            width: fit-content;
            margin: 4px auto;
            padding: 2px 4px;
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
            & img {
                margin-right: 4px;
            }
        }
        & .submit-moderation, & .cancel-moderation, & .submit-unmoderation {
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            padding-right: 5px;
            & img {
                margin-right: 5px;
            }
        }
        & .submit-moderation {
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
            & img {
                border: 1px solid black;
                border-radius:  5px;
            }
        }
        & .cancel-moderation {
            background-color: #ffa4a4;
            transition: all 400ms;
            &:hover {
                background-color: #fab3b3;
                box-shadow: 4px 4px 10px #fab3b3;
            }
        }
        & .submit-unmoderation {
            width: fit-content;
            margin: 4px auto;
            background-color: #356cc4;
            color: #f0b5b5;
            transition: all 400ms;
            &:hover {
                background-color: #5a90e7;
                box-shadow: 4px 4px 10px #5a90e7;
            }
        }
    }
}

.comment-box {
    border-top: 1px solid grey;
    padding: 10px;
}