.app-viewer {
    height: 100vh;
    max-height: 100vh;
}

main {
    background-color: #edf3fc;
    padding-top: 280px;
    //margin-top: 260px;
    
}
@media screen and (max-width: 992px) {
    main {
        padding-top: 210px;
    }
}
@media screen and (max-width: 768px) {
    main {
        padding-top: 160px;
    }
}
@media screen and (max-width: 535px) {
    main {
        padding-top: 110px;
    }
}
@media screen and (max-width: 375px) {
    main {
        padding-top: 100px;
    }
}

h2 {
    margin: 0;
    padding: 20px;
}