.app-viewer {
    height: 100vh;
    max-height: 100vh;
}

/*
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: 0.4s;
    &.shrinked {
        top: -200px;
    }
}
*/

main {
    background-color: #edf3fc;
    padding-top: 20px;
    margin-top: 260px;
    
}
@media screen and (max-width: 992px) {
    main {
        margin-top: 210px;
    }
}
@media screen and (max-width: 768px) {
    main {
        margin-top: 160px;
    }
}
@media screen and (max-width: 535px) {
    main {
        margin-top: 110px;
    }
}
@media screen and (max-width: 375px) {
    main {
        margin-top: 80px;
    }
}

h2 {
    margin: 0;
    padding: 20px;
}