<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>login</p>
    
    <div class="email-box">
        <div class="labels">
            <label for="login-email">E-mail : </label>
        </div>
        <div class="inputs">
            <input type="text" formControlName="loginEmail" id="login-email">
        </div>
    </div>
    <div class="password-box">
        <div class="labels">
            <label for="login-password">Mot de passe :</label>
        </div>
        <div class="inputs">
            <input type="password" formControlName="loginPassword" id="login-password">
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">submit</button>
</form>