form {
    width: 80%;
    margin: auto;
    background-color: #edf3fc;
    text-align: center;
    & .active {
        height: 10rem;
    }
    & .inactive {
        height: 1.2rem;
    }
}

textarea {
    width: 98%;
    resize: none;
}

.file-input {
    display:none;
}

.file-upload {
    & img {
        width: 40px;
    }
}