<div>
    <h2>Votre profil</h2>

    <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
        <fieldset class="name-fieldset">
            <div class="name-fieldset__lastname-box">
                <div class="labels">
                    <label for="posted-lastname">Nom</label>
                </div>
                <div class="inputs">
                    <input type="Text" id="posted-lastName" formControlName="postedLastName" value="{{user?.lastname}}"/>
                </div>
            </div>
            <div class="name-fieldset__firstname-box">
                <div class="labels">
                    <label for="posted-firstName">Prénom</label>
                </div>
                <div class="inputs">
                    <input type="Text" id="posted-firstName" formControlName="postedFirstName" value="{{user?.firstname}}"/>
                </div>
            </div>
        </fieldset>
        <fieldset class="password-update">
            <div class="password-update__actual-password">
                <div class="labels">
                    <label for="posted-currentPassword">Mot de passe actuel</label>
                </div>
                <div class="inputs">
                    <input type="text" id="posted-currentPassword" formControlName="postedCurrentPassword">
                </div>
            </div>
            <div class="password-update__new-password1">
                <div class="labels">
                    <label for="posted-newPassword1">Entrez le nouveau mot de passe</label>
                </div>
                <div class="inputs">
                    <input type="text" id="posted-newPassword1" formControlName="postedNewPassword1">
                </div>
            </div>
            <div class="password-update__new-password2">
                <div class="labels">
                    <label for="posted-newPassword2">Confirmez le nouveau mot de passe</label>
                </div>
                <div class="inputs">
                    <input type="text" id="posted-newPassword2" formControlName="postedNewPassword2">
                </div>
            </div>
            <div class="new-password-errors" *ngIf="updateProfileForm.controls['postedCurrentPassword'].hasError('noActualPassword') || updateProfileForm.controls['postedNewPassword1'].hasError('noNewPassword') || updateProfileForm.controls['postedNewPassword2'].hasError('noNewPasswordConfirmation') || updateProfileForm.controls['postedNewPassword2'].hasError('pattern')">
                Pour changer votre mot de passe, les trois champs sont requis:<br>
                - <span class="new-password-errors__fieldname"
                        [ngClass]="{'invalid': updateProfileForm.controls['postedCurrentPassword'].hasError('pattern') || updateProfileForm.controls['postedCurrentPassword'].hasError('noActualPassword') || updateProfileForm.controls['postedCurrentPassword'].value == ''}"
                    >mot de passe actuel </span>
                    <span class='invalid' *ngIf="updateProfileForm.controls['postedCurrentPassword'].hasError('pattern')">
                        invalide
                    </span><br>
                - <span class="new-password-errors__fieldname"
                        [ngClass]="{'invalid': updateProfileForm.controls['postedNewPassword1'].hasError('pattern') || updateProfileForm.controls['postedNewPassword1'].hasError('noNewPassword') || updateProfileForm.controls['postedNewPassword1'].value == ''}"
                    >nouveau mot de passe</span>
                    <span class='invalid' *ngIf="updateProfileForm.controls['postedNewPassword1'].hasError('pattern')">
                        invalide
                    </span><br>
                - <span class="new-password-errors__fieldname"
                        [ngClass]="{'invalid': updateProfileForm.controls['postedNewPassword2'].hasError('pattern') || updateProfileForm.controls['postedNewPassword2'].hasError('noNewPasswordConfirmation') || updateProfileForm.controls['postedNewPassword2'].value == ''}"
                    >confirmation </span>
                    <span class="invalid" *ngIf="updateProfileForm.controls['postedNewPassword2'].hasError('pattern')">
                        invalide
                    </span>
            </div>
            <div class="new-password-errors" *ngIf="updateProfileForm.controls['postedNewPassword2'].hasError('newPasswordMismatch')">
                le nouveau mot de passe et sa confirmation sont différents.
            </div>
        </fieldset>
        <fieldset class="avatar-fieldset">
            <label for="avatarInput">Avatar</label><br/>
            <div class="avatar-viewer">
                <img class="avatar-image" src="http://localhost:3000/images/avatars/{{user?.avatarUrl}}">
            </div>
            <input 
                type="file"
                id="avatarInput"
                enctype="multipart/form-data"
                formControlName="avatarInput"
                (change)="avatarHandler($event)"
                #avatarInput
            />
            <img class="image-adding__thumb" src="../../assets/images/boutons/replace.png" alt="ajouter une image" title="ajouter une image" (click)="avatarInput.click()" />
        </fieldset>
        <fieldset class="bio-fieldset">
            <h3>À propos de vous :</h3>
            <textarea class="bio-input" formControlName="bioInput">
                
            </textarea>
        </fieldset>
        
        <div class="profile-editor__submit" [ngClass]="{'active': updateProfileForm.valid}" (click)="onSubmit()" >
            <div>
                <img src="../../assets/images/boutons/send.png" alt="confirmer l'édition" title="confirmer l'édition" />
            </div>
            <div>
                <span>envoyer</span>
            </div>
        </div>

        <div class="account-deleting">
            <div class="account-deleting__button" (click)="deleteAccount()">
                <img src="../../assets/images/boutons/croix.png" alt="supprimer votre compte" title="supprimer votre compte" />Supprimer le compte
            </div>
        </div>
        
        <div class="profile-updater__post-list">
            <app-single-post *ngFor="let post of user?.posts" [post]="post" [user]="this.user"></app-single-post>
        </div>
    </form>
</div>