<!-- Avant réception des données ( loader )-->
<p *ngIf="loading">Veuillez patienter</p>

<!-- Une fois les données reçues -->
<div *ngIf="!loading">
    <h2>{{this.viewedUser.lastname}} {{this.viewedUser.firstname}}</h2>
    <div class="profile-viewer__role">
        <h3>Rôle :</h3>
        <p *ngIf="this.user?.role !== 'admin'">{{this.viewedUser.role}}</p>
        
        <form *ngIf="this.user?.role == 'admin'" [formGroup]="changeRoleForm" >
            <select formControlName="postedNewRole" >
                <option class="role-option" value="moderator" [selected]="viewedUser.role === 'moderator'">Modérateur</option>
                <option class="role-option" value="user" [selected]="viewedUser.role === 'user'">Utilisateur</option>
            </select>
            <div class="change-role__submit" (click)="onChangeRoleSubmit()" >
                <div>
                    <img src="../../assets/images/boutons/send.png" alt="confirmer l'édition" title="confirmer l'édition" />
                </div>
                <div>
                    <span>envoyer</span>
                </div>
            </div>
        </form>
    </div>
    <div class="profile-viewer__avatar-container">
        <img class="profile-viewer__avatar" src="http://localhost:3000/images/avatars/{{this.viewedUser.avatarUrl}}" alt="avatar"/>
       
    </div>
    <div *ngIf="this.viewedUser.bio" class="profile-viewer__bio">
        <h3>À propos de moi :</h3>
        <p>{{this.viewedUser.bio}}</p>
    </div>

    <div *ngIf="!loading" class="profile-viewer__post-list">
        <h3>Derniers posts :</h3>
        <app-single-post *ngFor="let post of this.viewedUser.posts?.reverse()" [post]="post" [user]="user"></app-single-post>
    </div>
    <hr>
    
    <div *ngIf="!loading" class="profile-viewer__post-list">
        <h3>Derniers commentaires :</h3>
        <app-single-post *ngFor="let comment of this.viewedUser.comments" [post]="comment.Post" [user]="user" [highlight]="viewedUser.id"></app-single-post>
    </div>
   
</div>